<html>
<head>
{% load staticfiles %}
</head>
<body>
Zip code data
<form id="zipForm" method="post" action="/addZip">
{% csrf_token %}
zip codes:
<input type="text" name="zipcode"/><br/>
<input type="text" name="zipcode"/><br/>
<input type="text" name="zipcode"/><br/>
<input type="text" name="zipcode"/><br/>
State code:
<input type="text" name="satecode"/><br/>
<input type="submit" value="Submit" name="Submit"/>
</form>
<br/><br/><br/>
<p>https://www.census.gov/data/developers/about/terms-of-service.html - This product uses the Census Bureau Data API but is not endorsed or certified by the Census Bureau.</p>
</body>
</html>
